<!--The content below is only a placeholder and can be replaced.-->
<div style="margin: 5px">
  <h1>
     {{ title }}
  </h1>
  <!--<button routerLinkActive="menuActive" routerLink="/bigimage" >Castle Images</button>-->
  <button routerLinkActive="menuActive" routerLink="/smallimage/castle" >Larnach Castle Images</button>
  <button routerLinkActive="menuActive" routerLink="/smallimage/paris" >Paris Images</button>
  <button routerLinkActive="menuActive" routerLink="/smallimage/spain" >Spain Images</button>
  <button routerLinkActive="menuActive" routerLink="/about" >About</button>

  <router-outlet></router-outlet>
</div>

